<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Naenio-depoy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Naenio.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B085EFE2879991400DE8E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B085F0E2879991600DE8E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B085F182879991600DE8E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B5613F128CAD01A00160271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
